@font-face {
  font-family: Rubber;
  src: url(../assets/fonts/Rubber.ttf);
}

body{
	background-color: #060606;
	font-family: 'Palanquin Dark', sans-serif;
}
.hidden{
	display: none;
}

 


/*-- Header open --*/
#topBar{
	background-color: #000;
	height: 20px;
}
#middleBar{
	height: 50px;
	background-color: #5C85C4;

}
#middleBar p{
	color: #ddcece;
	padding: 10px;
}



#mainContainer 
{
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 1000px;

}
#mainHeader
{

	position: sticky;
	top:0;
	padding: 15px;
	border-bottom: solid 1px #DDD;
	background-color: #060606;;
}
#logo
{
	margin: 0 auto;
	width: 500px;
}

#mainNav 
{  
	font-family: 'Swis721 Blk BT', sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}
.mainNav ul
{
  list-style-type: none;
  padding: 0;
}
#mainNav ul li{

	color: #ddcece;;
	font-size: 20px;
	display: inline;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}
#mainNav ul li a:hover{
	  color: gold;
}
#mainNav ul li a{
	text-decoration: none;
	color: #ddcece;
}
.selected{
	;
}


/*-- Header close --*/
/*-- Index open --*/
.heroText {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ddcece;
  font-size: 16pt;
}
.heroImage {
  z-index: -1;
  height: 600px;
  width: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 30px 0px 100px 0px;
}
.index {
	background-image: url('../images/hero_image.jpg');
}

.btn:hover, .btn:active {
	color: red;
}

.btn {
  width: 200px;
  height: 70px;
  bottom: 0%;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #ddcece;
  font-family: 'Mariad Pro', sans-serif;
  font-weight: lighter;
  margin-top: 300px;
  border: solid 1px red;
}

.link{
	display: flex;
	margin-top: 20px;
	width: 160px;
	color: #ddcece;
	background-color: #060606;;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 29px;
	border-radius: 20px;
	margin-left: 120px;
	margin-top: 40px;

}

.link:hover{
	background-color: #ddcece;
	color: black;

}

#mainarea{
	height: 800px;
	padding: 20px;
	margin-bottom: 100px;
}

#album{
	position: relative;
	width: 575px;
	height: 575px; 
	background: url("../images/album.jpg");
	z-index: -3;
}
#trackList{
	position: absolute;
	width: 525px;
	height: 525px;
	background-color: black;
	;
	margin-left: 350px;
	margin-top: -350px;
	z-index: -2;
	text-align: center;
	border: solid 50px #6e3636;
	color: #ddcece;
}
#trackList h2{
	font-size: 30px;
	font-family: 'Palanquin Dark', italic;
}
#trackList h3{
	
}
#trackList p{
	
}
#trackList ul{

  list-style-type: upper-roman;
}
#trackList ul li{

 font-size: 30px;
}

#tourDates
{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
	padding-bottom: 40px;
	flex-wrap: wrap;
}
#tourDates h2{
	margin: 0 auto;
	color: #ddcece;
	font-size: 40px;
}
.city{
	margin-left: 10%;
	width: 788px;
	height: 390px;
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border: solid 2px #ddcece;
}
.reverse{
	flex-direction: row-reverse;
}

.imageBox1{
	width: 360px;
	height: 390px;
	background-image: url("../images/moscow_promo.jpg");
}
.imageBox2{
	width: 360px;
	height: 390px;
	background-color: yellow;
	background-image: url("../images/toronto_promo.jpg");
}
.imageBox3{
	width: 360px;
	height: 390px;
	background-color: yellow;
	background-image: url("../images/london_promo.jpg");
}
.imageBox4{
	width: 360px;
	height: 390px;
	background-color: yellow;
	background-image: url("../images/tokyo_promo copy.jpg");
}
.city h3 {
	font-family: 'Rubber';
	font-size: 62px;
	color: #c6801b;
	margin-bottom: 0px;
	font-weight: lighter;
}
.cityText{
	color: #5b0a0a;
	font-size: 25px;
	margin: 0px;
	line-height: 0.7;
	font-family: 'Hiragino Kaku Gothic StdN'; 
}
.left{
	z-index: -2;
	margin-left: -270px;
	text-align: left;
}
.right{
	z-index: -2;
	margin-right: -270px;
	text-align: right;
}

/*-- Index close --*/

/*-- Discography open--*/
h1{
	font-family: 'Palanquin Dark', sans-serif;
	color: white;
}

.heroImagedisko {

  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 100px 0px 100px 0px;
}
.heroImagedisko p{
	font-size: 18pt;
	letter-spacing: 30px;
	text-align: center;
}

#video{
	width: 100%;
	height: 300px; 
	background-color: yellow;
	margin-top: 100px;
}
#disk1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#disk1 p{
	font-family: 'Myriad Pro';
	color: #5b0a0a;
	font-size: 22pt;
}
.diskText{
	width: 700px;
}
#buttonNext{
	z-index: -1;
	height: 535px;
	width: 85px;
	background-color: #5b0a0a;
}

/*-- Discography close--*/

/*-- Contact open --*/
#mainContact {
  margin-top: 100px;
  width: 940px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mainContact h3 {
  font-size: 30px;
  color: brown;
  margin: 0;
  font-family:'Swis721 Blk BT', sans-serif;
}
#mainContact p {
  font-size: 20px;
  color: #ddcece;
  font-family:  'Swis721 Blk BT', sans-serif;
  font-weight: 300;
  line-height: 0.5;
}
#contactInfo{
	margin-bottom: 100px;
}
#contactInfo div {
	margin-bottom: 30px;
}
#contactArea {
	margin: 0 auto;
	color: #ddcece;
}
#contactArea h2{
	text-align: center;
	color: brown;
}


#contactText {
  margin-bottom: 30px;
}

#contactForm {
  margin-top: 30px;
}

fieldset {
  border: none;
  padding: 0px;
}



input, textarea  {
  z-index: -2;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 400px;
  height: 25px;
  background-color: #efefef;
  display: block;
  border: 1px solid #999;
  color: black;
}
::placeholder {
  font-style: italic;
  opacity: 0.2;
}
#Name input{
	z-index: -2;
	width: 170px;
}
#Name {
	z-index: -2;
	display: flex;
    justify-content: space-between;
}

#submit {
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5aa1a0;
  font-size: 16px;
  border: 1px solid #003471;
}
#submit:hover{
	color: black;
	background-color: gold;
}
#mapArea{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #ddcece;
	margin-top: 50px;
}
#mapArea h2{
	margin-left: 40px;
	font-size: 30px;
	color: brown;
}
#mapArea ul{
	list-style-type: none;
	font-family: 'Swis721 Blk BT', sans-serif;
	font-size:20px;
	margin-right: 40px;
}

.underline{
	background-color: white;
	height: 2px;
}
iframe{
	margin-top: 25px;

}

/*-- Contact clode --*/


/*-- Footer open --*/
#mainFooter 
{
  
	margin-top: 100px;
}
#mainFooter ul
{
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
}
#mainFooter ul li{

	color: #ddcece;
	font-size: 40px;
    cursor: pointer;
}
#mainFooter ul li a:hover{
	  color: gold;
}
#mainFooter ul li a{
	text-decoration: none;
	color: #ddcece;
}


#copyRight 
{
	color: #ddcece;
	margin-top: 100px;
	margin-left: 40px;
}
#copyRight p{
	text-align: center;
}
/*-- Footer close --*/


